<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сryptocurrency rates</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <div id="app">

    <div class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-gray-50 py-6 sm:py-12">
      <div class="absolute inset-0 bg-center [mask-image:linear-gradient(180deg,white,rgba(255,255,255,0))]"></div>
      <div class="relative bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-lg sm:px-10">
        <div class="mx-auto max-w-md">
          <h1 class="uppercase text-xl">Сryptocurrency rates</h1>

          <div class="relative mt-4 text-gray-100 focus-within:text-gray-200">
            <span class="absolute inset-y-0 left-0 flex items-center pl-2">
              <button type="submit" class="p-1 focus:outline-none focus:shadow-outline">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" class="w-6 h-6"><path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
              </button>
            </span>
            <input v-model="query" type="search" class="py-2 w-full text-sm text-white bg-gray-300 rounded-md pl-10 focus:outline-none focus:bg-gray-300 focus:text-white" placeholder="Search..." autocomplete="off" />
          </div>

          <div class="divide-y divide-gray-300/50">
            <div class="space-y-3 py-8 text-base leading-7 text-gray-600">
              
              <ul role="list" class="grid grid-cols-2 gap-5">
                
                <li v-for="(token, index) in tokens" :key="index" class="py-3 sm:py-4 ">
                    <div class="flex items-center space-x-4 border p-4 rounded-md">
                      <div class="flex-shrink-0">
                        <img class="w-8 h-8 rounded-full" :src="token.logo" alt="Ethereum">
                      </div>
                      <div class="flex-1 min-w-0">
                        <p class="text-sm font-medium text-gray-900 truncate">
                          {{ token.name }}
                        </p>
                        <p class="text-sm text-gray-500 truncate">
                            1 {{ token.symbol }}
                        </p>
                      </div>
                      <div class="inline-flex items-center text-base font-semibold text-gray-900">
                        ${{ token.usd.toFixed(2) }}
                      </div>
                    </div>
                </li>

              </div>
              
            </div>
            <div class="pt-8 text-base font-semibold leading-7">
              <p class="text-gray-900">Source code</p>
              <p>
                <a href="https://github.com/rezvitsky/crystal-lang-crypto-rates" class="text-sky-500 hover:text-sky-600" target="_blank">GitHub &rarr;</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://unpkg.com/vue@3"></script>
  <script src="js/app.js"></script>
</body>
</html>